
body{
    margin:0;
    background:#f5f7fa;
    font-family:Arial, Helvetica, sans-serif;
}

button{
    cursor:pointer;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:15px;
    margin-top:5px;
}

table{
    background:white;
}

th{
    background:#198754;
    color:white;
}

td,th{
    text-align:center;
}